In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:0000:0100:02
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Obtaining dependency information for py4j==0.10.9.7 from https://files.pythonhosted.org/packages/10/30/a58b32568f1623aaad7db22aa9eafc4c6c194b429ff35bdc55ca2726da47/py4j-0.10.9.7-py2.py3-none-any.whl.metadata
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 4.1 MB/s eta 0:00:00a 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488496 sha256=93a707507d1b95cc51b94a3164d31c4d53e4fd05338433f5080b5107903f3c2d
  Stored in directory: /Users/nishchalverma/Library/Caches/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1

In [1]:
import pyspark

In [2]:
import pandas as pd
test=pd.read_csv('/Users/nishchalverma/Downloads/dataset/titanic.csv')

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/23 14:53:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [17]:
df_spark=spark.read.csv('/Users/nishchalverma/Downloads/dataset/titanic.csv',inferSchema=True)

In [5]:
#Better reading option
df_pyspark1=spark.read.csv('/Users/nishchalverma/Downloads/dataset/titanic.csv',header=True,inferSchema=True)

In [28]:
df_pyspark1.head()

Row(sr.no.=1, Class='3rd', Sex='Male', Age='Child', Survived='No')

In [27]:
df_pyspark1.show()

+------+-----+----+-----+--------+
|sr.no.|Class| Sex|  Age|Survived|
+------+-----+----+-----+--------+
|     1|  3rd|Male|Child|      No|
|     2|  3rd|Male|Child|      No|
|     3|  3rd|Male|Child|      No|
|     4|  3rd|Male|Child|      No|
|     5|  3rd|Male|Child|      No|
|     6|  3rd|Male|Child|      No|
|     7|  3rd|Male|Child|      No|
|     8|  3rd|Male|Child|      No|
|     9|  3rd|Male|Child|      No|
|    10|  3rd|Male|Child|      No|
|    11|  3rd|Male|Child|      No|
|    12|  3rd|Male|Child|      No|
|    13|  3rd|Male|Child|      No|
|    14|  3rd|Male|Child|      No|
|    15|  3rd|Male|Child|      No|
|    16|  3rd|Male|Child|      No|
|    17|  3rd|Male|Child|      No|
|    18|  3rd|Male|Child|      No|
|    19|  3rd|Male|Child|      No|
|    20|  3rd|Male|Child|      No|
+------+-----+----+-----+--------+
only showing top 20 rows

In [31]:
df_pyspark1.show()

+------+-----+----+-----+--------+
|sr.no.|Class| Sex|  Age|Survived|
+------+-----+----+-----+--------+
|     1|  3rd|Male|Child|      No|
|     2|  3rd|Male|Child|      No|
|     3|  3rd|Male|Child|      No|
|     4|  3rd|Male|Child|      No|
|     5|  3rd|Male|Child|      No|
|     6|  3rd|Male|Child|      No|
|     7|  3rd|Male|Child|      No|
|     8|  3rd|Male|Child|      No|
|     9|  3rd|Male|Child|      No|
|    10|  3rd|Male|Child|      No|
|    11|  3rd|Male|Child|      No|
|    12|  3rd|Male|Child|      No|
|    13|  3rd|Male|Child|      No|
|    14|  3rd|Male|Child|      No|
|    15|  3rd|Male|Child|      No|
|    16|  3rd|Male|Child|      No|
|    17|  3rd|Male|Child|      No|
|    18|  3rd|Male|Child|      No|
|    19|  3rd|Male|Child|      No|
|    20|  3rd|Male|Child|      No|
+------+-----+----+-----+--------+
only showing top 20 rows

In [30]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark1.head(3)

[Row(sr.no.=1, Class='3rd', Sex='Male', Age='Child', Survived='No'),
 Row(sr.no.=2, Class='3rd', Sex='Male', Age='Child', Survived='No'),
 Row(sr.no.=3, Class='3rd', Sex='Male', Age='Child', Survived='No')]

In [33]:
df_pyspark1.printSchema()

root
 |-- sr.no.: integer (nullable = true)
 |-- Class: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Survived: string (nullable = true)

In [34]:
df_pyspark1.columns

['sr.no.', 'Class', 'Sex', 'Age', 'Survived']

In [36]:
df_pyspark1.select('Class').show()

+-----+
|Class|
+-----+
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
|  3rd|
+-----+
only showing top 20 rows

In [37]:
df_pyspark1.select(['Class','Sex']).show()

+-----+----+
|Class| Sex|
+-----+----+
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
|  3rd|Male|
+-----+----+
only showing top 20 rows

In [6]:
df_pyspark1=df_pyspark1.drop('sr.no.')

In [7]:
df_pyspark1.describe().show()

24/04/21 13:25:23 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----+------+-----+--------+
|summary|Class|   Sex|  Age|Survived|
+-------+-----+------+-----+--------+
|  count| 2201|  2201| 2201|    2201|
|   mean| NULL|  NULL| NULL|    NULL|
| stddev| NULL|  NULL| NULL|    NULL|
|    min|  1st|Female|Adult|      No|
|    max| Crew|  Male|Child|     Yes|
+-------+-----+------+-----+--------+

In [1]:
df_pyspark1.withColumnRenamed('Sex','Gender').show()

NameError: name 'df_pyspark1' is not defined

In [6]:
df_pyspark1.na.drop(how='any',thresh=2).show()

+-----+----+-----+--------+
|Class| Sex|  Age|Survived|
+-----+----+-----+--------+
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
+-----+----+-----+--------+
only showing top 20 rows

In [11]:
df_pyspark1.na.drop().show()

+-----+----+-----+--------+
|Class| Sex|  Age|Survived|
+-----+----+-----+--------+
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
+-----+----+-----+--------+
only showing top 20 rows

In [12]:
df_pyspark1.na.drop(how='any',subset=['Class']).show()

+-----+----+-----+--------+
|Class| Sex|  Age|Survived|
+-----+----+-----+--------+
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
+-----+----+-----+--------+
only showing top 20 rows

In [14]:
df_pyspark1.na.fill('Missing Values',['Class','Age']).show()

+-----+----+-----+--------+
|Class| Sex|  Age|Survived|
+-----+----+-----+--------+
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
|  3rd|Male|Child|      No|
+-----+----+-----+--------+
only showing top 20 rows

In [7]:
from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=[Sex','Survived'], outputCols=['{}_imputed'.format(c) for c in ['Sex','Survived']]).setStrategy('mode')

SyntaxError: unterminated string literal (detected at line 2) (174826103.py, line 2)

In [18]:
imputer.fit(df_pyspark1).transform(df_pyspark1).show()

IllegalArgumentException: requirement failed: Column Age must be of type numeric but was actually of type string.

## Filter options

In [4]:
df_pyspark=spark.read.csv('/Users/nishchalverma/Downloads/dataset/data1.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+--------+-------+-----+-----+
| country|lifeexp|urban|pcgdp|
+--------+-------+-----+-----+
| finland|  79.41|   85|36700|
|slovakia|  76.03|   55|23600|
|      uk|  80.17|   80|36600|
| ukraine|  68.74|   69| 7300|
|   spain|  81.27|   77|31000|
+--------+-------+-----+-----+

In [7]:
df_pyspark.filter('urban>=69').show()

+-------+-------+-----+-----+
|country|lifeexp|urban|pcgdp|
+-------+-------+-----+-----+
|finland|  79.41|   85|36700|
|     uk|  80.17|   80|36600|
|ukraine|  68.74|   69| 7300|
|  spain|  81.27|   77|31000|
+-------+-------+-----+-----+

In [8]:
df_pyspark.filter('urban>=69').select(['country','pcgdp']).show()

+-------+-----+
|country|pcgdp|
+-------+-----+
|finland|36700|
|     uk|36600|
|ukraine| 7300|
|  spain|31000|
+-------+-----+

In [9]:
df_pyspark.filter(df_pyspark['urban']>69).show()

+-------+-------+-----+-----+
|country|lifeexp|urban|pcgdp|
+-------+-------+-----+-----+
|finland|  79.41|   85|36700|
|     uk|  80.17|   80|36600|
|  spain|  81.27|   77|31000|
+-------+-------+-----+-----+

In [12]:
df_pyspark.filter((df_pyspark['urban']>69) & (df_pyspark['pcgdp']<39000)).show()

+-------+-------+-----+-----+
|country|lifeexp|urban|pcgdp|
+-------+-------+-----+-----+
|finland|  79.41|   85|36700|
|     uk|  80.17|   80|36600|
|  spain|  81.27|   77|31000|
+-------+-------+-----+-----+

In [13]:
df_pyspark.filter((df_pyspark['urban']>69) | (df_pyspark['pcgdp']<39000)).show()

+--------+-------+-----+-----+
| country|lifeexp|urban|pcgdp|
+--------+-------+-----+-----+
| finland|  79.41|   85|36700|
|slovakia|  76.03|   55|23600|
|      uk|  80.17|   80|36600|
| ukraine|  68.74|   69| 7300|
|   spain|  81.27|   77|31000|
+--------+-------+-----+-----+

## Groupby

In [15]:
pyspark_sal=spark.read.csv('/Users/nishchalverma/Downloads/dataset/Salary_Data.csv',header=True,inferSchema=True)

In [16]:
pyspark_sal.show()

+-----+----------+---------------+------+
| Name|      Dept|YearsExperience|Salary|
+-----+----------+---------------+------+
|krish|Accounting|            1.1| 39343|
| suny|     Admin|            1.3| 46205|
|  ram|     Admin|            1.5| 37731|
|dilip|   Finance|            2.0| 43525|
|rohit|Operations|            2.2| 39891|
|jinal|Accounting|            2.9| 56642|
|  abi|Accounting|            3.0| 60150|
| rana|Accounting|            3.2| 54445|
|  kay|Operations|            3.2| 64445|
|  ray|   Finance|            3.7| 57189|
| amit|Operations|            3.9| 63218|
|karan|     Admin|            4.0| 55794|
| tanu|Operations|            4.0| 56957|
| menu|Operations|            4.1| 57081|
| rita|Operations|            4.5| 61111|
| paul|     Admin|            4.9| 67938|
|  sid|Operations|            5.1| 66029|
| hars|   Finance|            5.3| 83088|
| rani|Operations|            5.9| 81363|
|priti|Operations|            6.0| 93940|
+-----+----------+---------------+------+
only showing top 20 rows

In [17]:
pyspark_sal.groupBy('Dept').sum().show()

+----------+--------------------+-----------+
|      Dept|sum(YearsExperience)|sum(Salary)|
+----------+--------------------+-----------+
|Accounting|                27.3|     424709|
|   Finance|                37.3|     513378|
|     Admin|                28.9|     427062|
|Operations|   65.89999999999999|     914941|
+----------+--------------------+-----------+

In [18]:
pyspark_sal.groupBy('Dept').count().show()

+----------+-----+
|      Dept|count|
+----------+-----+
|Accounting|    6|
|   Finance|    6|
|     Admin|    6|
|Operations|   12|
+----------+-----+

In [19]:
pyspark_sal.agg({'YearsExperience':'sum','Dept':'count','Salary':'avg'}).show()

+-----------+-----------+--------------------+
|avg(Salary)|count(Dept)|sum(YearsExperience)|
+-----------+-----------+--------------------+
|    76003.0|         30|               159.4|
+-----------+-----------+--------------------+

## Mllib

In [ ]:
['YearsExperience','Salary'] --->Indepedent feature together

In [20]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['YearsExperience','Salary'],outputCol='Independent feature')

In [21]:
output=featureassembler.transform(pyspark_sal)

In [22]:
output.show()

+-----+----------+---------------+------+-------------------+
| Name|      Dept|YearsExperience|Salary|Independent feature|
+-----+----------+---------------+------+-------------------+
|krish|Accounting|            1.1| 39343|      [1.1,39343.0]|
| suny|     Admin|            1.3| 46205|      [1.3,46205.0]|
|  ram|     Admin|            1.5| 37731|      [1.5,37731.0]|
|dilip|   Finance|            2.0| 43525|      [2.0,43525.0]|
|rohit|Operations|            2.2| 39891|      [2.2,39891.0]|
|jinal|Accounting|            2.9| 56642|      [2.9,56642.0]|
|  abi|Accounting|            3.0| 60150|      [3.0,60150.0]|
| rana|Accounting|            3.2| 54445|      [3.2,54445.0]|
|  kay|Operations|            3.2| 64445|      [3.2,64445.0]|
|  ray|   Finance|            3.7| 57189|      [3.7,57189.0]|
| amit|Operations|            3.9| 63218|      [3.9,63218.0]|
|karan|     Admin|            4.0| 55794|      [4.0,55794.0]|
| tanu|Operations|            4.0| 56957|      [4.0,56957.0]|
| menu|Operations|            4.1| 57081|      [4.1,57081.0]|
| rita|Operations|            4.5| 61111|      [4.5,61111.0]|
| paul|     Admin|            4.9| 67938|      [4.9,67938.0]|
|  sid|Operations|            5.1| 66029|      [5.1,66029.0]|
| hars|   Finance|            5.3| 83088|      [5.3,83088.0]|
| rani|Operations|            5.9| 81363|      [5.9,81363.0]|
|priti|Operations|            6.0| 93940|      [6.0,93940.0]|
+-----+----------+---------------+------+-------------------+
only showing top 20 rows

In [23]:
output.columns

['Name', 'Dept', 'YearsExperience', 'Salary', 'Independent feature']

In [24]:
final_data=output.select('Independent feature','Salary')

In [26]:
final_data.show()

+-------------------+------+
|Independent feature|Salary|
+-------------------+------+
|      [1.1,39343.0]| 39343|
|      [1.3,46205.0]| 46205|
|      [1.5,37731.0]| 37731|
|      [2.0,43525.0]| 43525|
|      [2.2,39891.0]| 39891|
|      [2.9,56642.0]| 56642|
|      [3.0,60150.0]| 60150|
|      [3.2,54445.0]| 54445|
|      [3.2,64445.0]| 64445|
|      [3.7,57189.0]| 57189|
|      [3.9,63218.0]| 63218|
|      [4.0,55794.0]| 55794|
|      [4.0,56957.0]| 56957|
|      [4.1,57081.0]| 57081|
|      [4.5,61111.0]| 61111|
|      [4.9,67938.0]| 67938|
|      [5.1,66029.0]| 66029|
|      [5.3,83088.0]| 83088|
|      [5.9,81363.0]| 81363|
|      [6.0,93940.0]| 93940|
+-------------------+------+
only showing top 20 rows

In [28]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=final_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent feature', labelCol='Salary')
regressor=regressor.fit(train_data)

24/04/23 16:11:05 WARN Instrumentation: [22f6e79c] regParam is zero, which might cause numerical instability and overfitting.
24/04/23 16:11:05 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
24/04/23 16:11:05 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [29]:
regressor.coefficients

DenseVector([0.0, 1.0])

In [30]:
regressor.intercept

4.493488145016929e-11

In [32]:
pred=regressor.evaluate(test_data)

In [33]:
pred.predictions.show()

+-------------------+------+------------------+
|Independent feature|Salary|        prediction|
+-------------------+------+------------------+
|      [1.5,37731.0]| 37731| 37731.00000000001|
|      [2.0,43525.0]| 43525| 43525.00000000001|
|      [3.2,54445.0]| 54445|           54445.0|
|      [3.7,57189.0]| 57189| 57189.00000000001|
|      [3.9,63218.0]| 63218| 63217.99999999999|
|      [4.0,55794.0]| 55794| 55794.00000000001|
|      [4.1,57081.0]| 57081| 57081.00000000001|
|      [4.9,67938.0]| 67938|           67938.0|
|      [7.1,98273.0]| 98273| 98272.99999999999|
|     [8.2,113812.0]|113812|113811.99999999997|
|     [9.5,116969.0]|116969|          116969.0|
|    [10.3,122391.0]|122391|122390.99999999999|
+-------------------+------+------------------+

In [34]:
pred.meanAbsoluteError,pred.meanSquaredError

(8.48861721654733e-12, 1.3234889800848443e-22)